* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(images/background-6.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.menu-bar {
    background-color: rgba(81, 82, 86, 0.137);
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.active,
.menu-bar ul li:hover {
    background: rgb(81, 82, 86);
    border-radius: 3px;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgb(81, 82, 86);
    margin-top: 15px;
    margin-left: 15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li::last-child {
    border-botom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: #b2ff00;
}

section {
    padding: 2em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28;
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.div-main {
    width: 50%;
    height: 750px;
    margin-left: 25%;
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.815);
}

.div-sub {
    width: 50%;
    height: 750px;
    margin-left: 25%;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0);
}

.div-text-1-head {
    margin-top: 3px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28;
    color: white;
}

.div-text-1-sechead {
    margin-top: 3px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
    color: white;
}

.div-text-1 {
    margin-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
    color: white;
}

.div-text-1-head-2 {
    margin-top: 80px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28;
    color: white;
}

.div-text-2 {
    margin-top: 20%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
    color: white;
}